@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Public+Sans:wght@500&display=swap");

:root {
  --blog-feed: 2.5rem;
  --secondary: #667766;
  --text-secondary: #676767;
  --text-primary: #000;
  --button-primary: #000d4f;
  --primary-hover: #001479;
  --max-width: 1400px;
  --filter-gap: 1rem;
  --border: #67676730;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  font-size: 0.75rem;
  color: var(--text-secondary);
}

.feed {
  font-size: 1.125rem;
}

body {
  font-family: "Inter", "Roboto", sans-serif;
}

header {
  position: relative;
}

main {
  padding-top: 5rem;
}

.container {
  width: min(90%, var(--max-width));
  margin: auto;
}

.border {
  border: solid red 1px;
}

select {
  background-color: transparent;
  border: solid 1px lightgray;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

/* Control for label+input */
.input-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
}

input,
textarea {
    border: 1px solid var(--border);
    border-radius: 6px;
    box-shadow: none;
    padding: 0.5rem;
}

input {
    height: 1.75rem;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0px 0px 4px #9eaeff;
    border:1px solid;
    border-color: var(--border);
}


/* * { outline: solid 1px rgba(255, 0, 0, 0.171); } */
