@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Public+Sans:wght@500&display=swap");

:root {
  --blog-feed: 2.5rem;
  --secondary: #667766;
  --text-secondary: #676767;
  --text-primary: #000;
  --button-primary: #198ded;
  --primary-hover: #1d99ff;
  --max-width: 1400px;
  --filter-gap: 1rem;
  --border: #67676730;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  font-size: 0.75rem;
  color: var(--text-secondary);
}

.feed:not(.description) {
  font-size: 1.125rem;
}

body {
  font-family: "Inter", "Roboto", sans-serif;
}

header {
  position: relative;
}

main {
  padding-top: 5rem;
}

.container {
  width: min(90%, var(--max-width));
  margin: auto;
}

.border {
  border: solid red 1px;
}

select {
  background-color: transparent;
  border: solid 1px var(--border);
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
/*   margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit; */
}

select * {
  background-color: transparent;
  border: 1px solid var(--border);
}

/* Keeps label+input in columns */
.input-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
}

input:not(.search),
textarea {
    border: 1px solid var(--border);
    border-radius: 6px;
    box-shadow: none;
    padding: 0.5rem;
}

input:not(.search) {
    height: 1.75rem;
}

input:focus:not(.search),
textarea:focus {
    outline: none;
    box-shadow: 0px 0px 4px #9eaeff;
    border:1px solid;
    border-color: var(--border);
}

#toast {
  visibility: hidden;
  min-width: 200px;
  background-color: #fff;
  color: var(--text-primary);
  font-size: 0.875rem;
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  right: 1%;
  bottom: 30px;
  text-align: center;
  box-shadow: 0 0 5px var(--border);
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
  user-select: none;
}

#toast.show {
  visibility: visible;
  transform: translateY(-50%);
}

.error,
.error-message {
  color: red;
}

#loading-spinner {
  max-width: 50px;
  margin: auto;
  animation: loading 2s infinite linear;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  visibility: hidden;
}