@import url("../styles.css");

main {
  overflow: hidden;
}

.edit h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.editor-container {
  display: grid;
  gap: 1.5rem;
  margin: 2rem 0.25rem;
}

.edit-back {
  justify-self: left;
}

.edit-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.icon-label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.info-icon {
  display: inline-flex;
  position: relative;
  cursor: help;
}

.info-icon i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1px;
  height: 1rem;
  width: 1rem;
  border: 1px solid;
  border-radius: 50%;
  font-size: 0.55rem;
}

.info-text {
  display: none;
  position: absolute;
  bottom: 1.25rem;
  left: 0.5rem;
  width: max-content;
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid var(--border);
  border-radius: 6px;
  box-shadow: 1px 1px 2px var(--secondary);
  font-size: 0.75rem;
  user-select: none;
  line-height: 1.25rem;
}

.info-icon:hover .info-text,
.info-icon:focus .info-text {
  display: block;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.submit-post,
.delete-post {
  min-width: 100px;
  min-height: 40px;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}

.submit-post {
  background-color: var(--button-primary);
}

.delete-post {
  background-color: #fff;
  color: var(--text-secondary);
  border: solid 2px var(--border);
}

.delete-post:hover,
.delete-post:focus {
  color: black;
  box-shadow: 1px 1px 2px var(--secondary);
}

.submit-post:hover,
.submit-post:focus {
  background-color: var(--primary-hover);
  box-shadow: 1px 1px 2px var(--secondary);
}

@media (max-width: 600px) {
  .submit-post {
    flex: 1;
  }
}

.all-posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2.5rem auto;
  padding: 1rem;
  max-height: 60vh;
  overflow-y: auto;
}

.post-to-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: solid 1px var(--border);
  border-radius: 6px;
  box-shadow: 0 0 5px var(--border);
}

.edit-text {
  flex: 1;
  width: fit-content;
  max-width: 50%;
}

.edit-title {
  width: fit-content;
  font-size: 1.5rem;
  font-weight: bold;
}

.edit-body {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.edit-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.edit-options i {
  color: var(--text-secondary);
}

.action-icon {
  position: relative;
}

.action-icon:hover .info-text {
  display: block;
}

.edit-options i:hover,
.edit-options i:focus {
  color: black;
  cursor: pointer;
}

@media (max-width: 600px) {
  .edit h1 {
    font-size: 1.75rem;
  }

  .edit-title {
    font-size: 1.25rem;
  }
}

.edit-back {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 0.25rem;
  margin-top: 1rem;
  cursor: pointer;
}

.edit-search {
  margin-top: 1.5rem;
}

/* Place search icon with css instead of html */
.edit-search input {
  display: block;
  background-image: url("/assets/icons/search.svg");
  background-size: 0.75rem;
  background-repeat: no-repeat;
  background-position: left 0.5rem center;
  padding-left: 1.75rem !important;
  margin: 0.5rem auto;
  font-size: 0.875rem;
}
