@import url("../styles.css");

.carousel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.carousel-images {
  display: flex;
  height: 10rem;
  width: 100%;
  overflow: hidden;
}

.carousel-images a {
  min-width: 1400px;
  width: 100%;
}

.banner {
  width: 100%;
  background-image: url("/assets/images/filler.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  animation: bannerbg 20s infinite alternate linear;
}

@keyframes bannerbg {
  100% {
    background-position: top;
  }
}

.banner-title-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  padding: 1rem;
}

.banner-title-container > * {
  max-width: 70vw;
  text-wrap: balance;
  border-radius: 20px;
}

@media (max-width: 1100px) {
  .banner-body {
    display: none;
  }
}

.banner-controls {
  margin: 0.25rem 0;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.prev,
.next {
  padding: 0 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--text-secondary);
}

.prev:hover,
.prev:focus-visible,
.next:hover,
.next:focus-visible {
  color: black;
  outline: solid 1px var(--border);
  border-radius: 25%;
}

.banner-dot {
  user-select: none;
}

.filters,
.filters ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1.75rem;
}

.filters {
  margin: 6.25rem 0;
  padding: 0.25rem 0.25rem;
  justify-content: space-between;
  overflow-x: auto;
  text-wrap: nowrap;
  scrollbar-width: thin;
}

.feed {
  position: relative;
  background-color: #fff;
  color: var(--text-secondary);
  border: none;
  transition: color 0.3s ease;
}

.feed:hover {
  color: black;
  cursor: pointer;
}

.filter-select {
  min-width: fit-content;
}

#clear-filters {
  visibility: hidden;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-icon {
  cursor: pointer;
  color: var(--secondary);
  outline: none;
}

.search-icon:focus,
.search-icon:hover {
  color: black;
}

.search-bar input {
  min-width: 15rem;
  border: none;
  outline: none;
  font-size: 0.875rem;
  padding: 0;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: solid 1px lightgray;
  border-radius: 6px;
  padding: 0.5rem;
}

.thumbnails-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  padding: 2.5rem 0;
  gap: 1.55rem;
  justify-items: center;
}

@media (max-width: 550px) {
  .thumbnails-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .banner > * {
    max-width: 350px;
  }

  .banner-title {
    font-size: 1.5rem;
  }
  .banner-body {
    font-size: 0.875rem;
  }
}

.thumbnail {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 2px var(--border);
  border-radius: 6px;
}

.thumbnail-border {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(10px);
  z-index: -1;
  overflow: hidden;
}

.thumbnail-border:before {
  position: absolute;
  width: 1500px;
  height: 1500px;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #198ded,
    rgba(0, 0, 0, 0) 40%
  );
  animation: glow 3s linear infinite;
}

.thumbnail-border {
  display: none;
}

.thumbnail:hover .thumbnail-border,
.thumbnail:focus-within .thumbnail-border {
  display: block;
}

@keyframes glow {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.thumbnail img {
  height: 10rem;
  width: 100%;
  src: url("/assets/images/filler.png");
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.thumbnail-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0 0 6px 6px;
}

.thumbnail-text > *:not(.thumbnail-title) {
  font-size: 0.75rem;
  color: var(--text-secondary);
}

.thumbnail-title {
  color: var(--text-primary);
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.thumbnail-creator {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: end;
}

.creator p {
  display: inline;
}

.creator img {
  max-height: 1rem;
  max-width: 1rem;
  border-radius: 50%;
}

.pagination {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.pagination-btn {
  position: relative;
  padding: 1rem 0.75rem;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  line-height: 0;
}

#load-more:hover {
  background-color: var(--primary-hover);
}

/* .active {
  box-shadow: 1px 1px 5px var(--button-primary);
  border: solid 1px var(--border);
} */

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border-top: solid 2px var(--button-primary);
  filter: blur(1px);
  transform: translate(-50%, -50%) rotate(0deg);
  animation: borderspin 5s linear infinite;
}

@keyframes borderspin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
